@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

a:hover {
  text-decoration: none;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotateBackwards {
  from {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.container {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #272639;
  overflow: hidden;
}

.lottie {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: auto;
  width: 1100px;
  z-index: 0;
  animation: rotate 200s infinite linear;
}

.backwards {
  animation: rotateBackwards 200s infinite linear;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.8rem;
  z-index: 1;
}

.principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fbfcff;
  gap: 1rem;
}

.button {
  color: #272639;
  background: linear-gradient(90deg, #29afa4 0%, #61fff2 100%);
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-family: 'Aldrich', sans-serif;
}

.button:hover {
  opacity: 0.8;
  color: #272639;
}

.paragraph {
  color: #fbfcff;
  max-width: 30ch;
  text-align: center;
}

.title {
  font-size: 2rem;
  max-width: 14ch;
  text-align: center;
  color: #fbfcff;
  font-family: 'Aldrich', sans-serif;
}

.kakarotlink {
  font-family: 'Aldrich', sans-serif;
}

.accent {
  color: #45e2d5;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fbfcff;
  background-color: #34334c;
  border-radius: 10px;
  padding: 5%;
  gap: 1rem;
  width: 90%;
  margin: 5% 5%;
}

.footeritem {
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #fbfcff;
}

.footerdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 3rem;
  height: 3rem;
}

.discord {
  border-radius: 100%;
}

.small {
  font-size: x-small;
}

.medium {
  font-size: small;
  font-family: 'Aldrich', sans-serif;
}

@media screen and (min-width: 668px) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
    width: 100%;
    align-items: center;
    color: #fbfcff;
    background-color: transparent;
  }

  .title {
    font-size: 3rem;
    max-width: 20ch;
  }

  .paragraph {
    max-width: 60ch;
  }

  .lottie {
    position: absolute;
    width: 1460px;
  }
}

@media screen and (min-width: 2100px) {
  .title {
    font-size: 6rem;
  }

  .paragraph {
    font-size: 2rem;
    font-weight: light;
  }

  .lottie {
    width: 3000px;
  }

  .small {
    font-size: 1rem;
  }
  .medium {
    font-size: 2rem;
  }

  .kakarotlink {
    font-size: 2rem;
  }

  .icon {
    width: 6rem;
    height: 6rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .content {
    background-image: url(./background.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .lottie {
    display: none;
  }
}

@media screen and (max-width: 330px) {
  .footer {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 1% 5%;
    width: 100%;
    align-items: center;
    color: #fbfcff;
    background-color: transparent;
    flex-wrap: wrap;
  }

  .lottie {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: auto;
    width: 1460px;
    z-index: 0;
  }
}
