/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --ifm-color-primary: #003d29;
  --ifm-color-primary-dark: #003725;
  --ifm-color-primary-darker: #003423;
  --ifm-color-primary-darkest: #002b1d;
  --ifm-color-primary-light: #00432d;
  --ifm-color-primary-lighter: #00462f;
  --ifm-color-primary-lightest: #004f35;
  --ifm-background-color: #fffffa;
  --ifm-navbar-background-color: var(--ifm-background-color);
  --ifm-font-family-base: 'Inter Tight', sans-serif;
  --ifm-font-family-monospace: 'Inter Tight', monospace;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #fffadb;
  --ifm-color-primary-dark: #fff3ac;
  --ifm-color-primary-darker: #fff094;
  --ifm-color-primary-darkest: #ffe64d;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #003d29;
  --ifm-font-family-base: 'Inter Tight', sans-serif;
  --ifm-font-family-monospace: 'Inter Tight', monospace;
  --ifm-code-font-size: 95%;
}

body {
  font-family: var(--ifm-font-family-base);
}

/* Set footer background color to dark body shade */
.footer {
  background-color: #1b1b1d;
  border-top: grey solid 0.5px;
}

/* Adjust the footer text color for better contrast with the Green background */
:hover.footer__link-item,
.footer__copyright {
  color: #fffadb;
}

/* Override the font for code blocks */
code,
pre {
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
}

/* Additional styling for pre to ensure it looks good */
pre {
  background-color: #f5f5f5; /* Adjust as necessary */
  padding: 10px; /* Adjust as necessary */
  border-radius: 5px; /* Adjust as necessary */
  overflow-x: auto;
}

p > a {
  color: #ff7500 !important;
}
