/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;700;800;900&display=swap");

:root {
  --ifm-color-primary: #003d29;
  --ifm-color-primary-dark: #003725;
  --ifm-color-primary-darker: #003423;
  --ifm-color-primary-darkest: #002b1d;
  --ifm-color-primary-light: #00432d;
  --ifm-color-primary-lighter: #00462f;
  --ifm-color-primary-lightest: #004f35;
  --ifm-background-color: #fffadb;
  --ifm-navbar-background-color: var(--ifm-background-color);
  --ifm-font-family-base: "Inter Tight", sans-serif;
  --ifm-font-family-monospace: "Inter Tight", monospace;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #fffadb;
  --ifm-color-primary-dark: #fff3ac;
  --ifm-color-primary-darker: #fff094;
  --ifm-color-primary-darkest: #ffe64d;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #003d29;
}

body {
  font-family: var(--ifm-font-family-base);
}

/* Set footer background color to dark body shade */
.footer {
  background-color: #1b1b1d;
  border-top: grey solid 0.5px;
}

/* Adjust the footer text color for better contrast with the Green background */
:hover.footer__link-item,
.footer__copyright {
  color: #fffadb;
}
